  .unique-background-article-01 {
    background-image: url('/images/background-article-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px
  }

  .unique-background-article-01-2col {
    background-image: url('/images/background-article-01-2col.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px
  }
  
  .unique-background-article-03 {
    background-image: url('/images/background-article-03.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px
  }  

  .unique-background-weather-01 {
    background-image: url('/images/weather-00.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
