.header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .header::before {
    content: '';
    background-image: url(/images/header-top-00.png);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 15px
  }
  
#flex-header-left {
    flex:0.5;
}

#flex-header-center {
    flex: 2;
}

#flex-header-right {
    flex: 0.2;
}

.sub-header, .headlines {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.sub-header::before {
    content: '';
    background-image: url(/images/header-mid-00.png);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 5px
  }

  .headlines::before {
    content: '';
    background-image: url(/images/header-bot-00.png);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 15px
  }

.stamp-header {
    opacity: 0.8;
    width: 50%;
    height: auto;
}